body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: wheat;
}
.carousel {
    height: 500px;
    margin-bottom: 40px;
    
}
.carousel .carousel-item {
    width: 300px;
}

.albumhead {
    background-image: url(websitebackground.jpg);
    background-size: cover;
    background-position: center;
    min-height: 750px;
}
.head {
    text-shadow: 3px 3px 3px #000000;
}

.shoulder {
    font-weight: bold;
    text-shadow: 2px 2px 2px #000000;
}

.shoulder2 {
    color: 	#bbbbbb;
    text-shadow: 1px 1px red;
}
.cardman {
    background-color: #eeeeee;
    box-shadow: 16px 16px 16px #000000; 
}
.cardman2 {
    background-color: #eeeeee;
    box-shadow: -16px 16px 16px #000000; 
}
.carusell {
    background-color: #eeeeee;
    box-shadow: 16px 16px 16px #000000; 
}

.AlbumCov {
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
    text-shadow: 3px 4px 5px #bbbbbb;
}

.mainhead {
background-image: url(psot0wcu36x41.jpg);
background-size: cover;
background-position: center;
min-height: 750px;
}
.shadowman {
    box-shadow: 10px 16px 10px #000000;
}
.shadowman-left {
    box-shadow: -10px 16px 10px #000000;
}


.section{
    padding-top: 4vw;
    padding-bottom: 4vw;
}
nav div ul li{
padding-left: 8px;
}

a:link {
color: white;
}

.historied {
    color: white;
    font-weight: 300;
}
.carded {
    text-shadow: 0 0 5px #000;
}

@media screen and (max-width: 670px) {
    header{
        min-height: 500px;
    }
    .carousel {
        height: 300px;
        margin-bottom: 20px;
        
    }
    .carousel .carousel-item {
        width: 150px;
    }
}